.idea/
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files
# !example_override.tf

# Include tfplan files
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

